/*CSS file */
:root{
    --bcg-color: #01172c;
    --primary-color: #155e75;
    --secondary-color: #fff;
    --border-color: #7fb7c9;
}
*{

    font-family: sans-serif;
}


.card{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border:1px solid rgb(255, 255, 255);
    width:max-content;
    text-align:center;
    display:inline-block;
    margin:5px;
}

.card img{
    width:300px;
    padding:5px;
}

.title{
    font-weight:bold;
    margin:20px;
}

button{
    border:2px solid #f66d05;
    background: #d17f1a;
    color:white;
    font-weight: bold;
    margin:20px;
    padding:5px 10px;
}

button:hover{
    box-shadow:0 0 5px 5px #e1701a inset;
}
