.kshama{
    margin-left:0%;
    margin-right: 0%;
	padding:50px;
	border-radius: 100px;
    vertical-align: top;
    bottom: 10%;
}
.klogo{
    margin-left: 10%;
    margin-right:0%;
	
	

}