:root{
    --bcg-color: #01172c;
    --primary-color: #155e75;
    --secondary-color: #fff;
    --border-color: #a1bfc9;
}
*{

    font-family: sans-serif;
}

body{
    background-color: var(--bcg-color);
    font-size: 15px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

#logo{
	
	padding:50px;
	border-radius: 100px;
    vertical-align: top;
    height:150px;
    width:200px;
}
#nav{
    margin-left: 15%;
    padding: 20px;  
    
}
#img{

	padding:5px;
	border-radius: 100px;
    vertical-align: bottom;
}
#note{
    margin-left:3%;
    margin-right: 10%;
	padding:50px;
	border-radius: 100px;
    vertical-align: top;

}
#uline{
    align-self: center;
}
